.hero {
  color: $color-light;
  padding-block: 4rem;
}
.hero .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-inline: 2rem;
}

.hero-left {
  align-self: center;
}

.hero-heading {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: -0.155rem;
}
.hero-desc {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 2rem;
}
.hero-btn {
  margin-top: 2rem;
}

@media screen and (max-width: 64em) {
  .hero-heading {
    font-size: 3.5rem;
  }
  .hero-desc {
    font-size: 1rem;
    margin-top: 1.75rem;
  }
}
@media screen and (max-width: 48em) {
  .hero .container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .hero-desc {
    max-width: 30rem;
  }
}

@media screen and (max-width: 32em) {
  .hero-heading {
    font-size: 3rem;
  }
  .hero-desc {
    font-size: 0.9rem;
    margin-top: 1.75rem;
  }
}
